<html>

<head>
  <title>tachikoma-boards</title>
  <link rel='stylesheet' href='/res/pure-min.css' />
  <link rel='stylesheet' href='/res/main.css' />
  <link rel='stylesheet' href='/res/index.css' />
  <script src='/res/jquery-3.2.1.min.js'></script>
  <script src='/res/main.js'></script>
  <script src='/res/index.js'></script>
  %1$s
</head>

<body>
  <div class='error-banner-wrapper hidden'>
    <div class='error-banner'></div><img src='/res/x-button-error.png' class='error-banner-exit' />
  </div>
  <div class='site-header'></div>
  <div class='pure-g site-body'>
    <div class='pure-u-1-4 bumper'></div>
    <div class='pure-u-1-2 index-panel-wrapper'>
      <div class='index-panel'>
        <h1 class='input-font'>tachikoma-boards</h1>
        </br>
        <h3 class='input-font'>RULES:</h3>
        <ol>
        </ol>
        </br>
        </br>
        <h3 class='input-font'>NEWS:</h3></br>
        </br>
      </div>
    </div>
    <div class='pure-u-1-2 post-preview-wrapper hidden'>
      <div class='post-preview-box'>
        <h2>Recent Activity</h2>
      </div>
    </div>
    <div class='template post-preview'>
      <i><b>>><span class='board-marker'></span></b>(<span class='tripcode-marker'></span>): <span class='content'></span>...</i></br>
    </div>
  </div>
  <div class='pure-u-1-1 spacer'>&nbsp;</div>
  <div class='site-footer'></div>
</body>

</html>
